<!-- nav-home.html  -->

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="http://www.foryoutopia.com/">ForYouTopia</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://www.foryoutopia.com/">Home</a></li>
      <li><a href="http://braming.foryoutopia.com/">Brain Storming</a></li>
      <li><a href="http://filexch.foryoutopia.com/">File Exchange</a></li>
    </ul>
  </div>
</div>
<!--

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>
</div>

<ul class="nav nav-pills pull-right">
  <li class="active"><a ui-sref="home">Home</a></li>
  <li><a ui-sref="about">About</a></li>
  <li><a href="#/contact">Contact</a></li>
</ul>
<h3 class="text-muted">angular tutorial</h3>

-->